html,
body {
  overscroll-behavior: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  overflow: auto;            /* still scrollable */
}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
* {
  scrollbar-width: none; /* "none" makes it 0 width */
}

/* Optional for old IE/Edge Legacy */
* {
  -ms-overflow-style: none;
}